extends templates/layout
block doc-title
    title Third Chart
block main
    .chart-wrap2.vertical
        h2.title Passenger composition based on survivors
        .grid
            .bar(style="--bar-value:90%;", data-name="Survivor", title="Survivor: 809 passengers")
            .bar(style="--bar-value:56%;", data-name="Non-survivor", title="Non-survivor: 500 passengers")