extends templates/layout
block doc-title
    title First Chart
block main
    .chart-wrap0.vertical
        h2.title Passenger age distribution
        .grid
            .bar(style="--bar-value:22%;", data-name="0-10", title="ages 0-10: 86 passengers")
            .bar(style="--bar-value:41%;", data-name="10-20", title="ages 10-20: 162 passengers")
            .bar(style="--bar-value:90%;", data-name="20-30", title="ages 20-30: 361 passengers")
            .bar(style="--bar-value:53%;", data-name="30-40", title="ages 30-40: 210 passengers")
            .bar(style="--bar-value:33%;", data-name="40-50", title="ages 40-50: 132 passengers")
            .bar(style="--bar-value:16%;", data-name="50-60", title="ages 50-60: 62 passengers")
            .bar(style="--bar-value:7%;", data-name="60-70", title="ages 60-70: 27 passengers")
            .bar(style="--bar-value:2%;", data-name="70-80", title="ages 70-80: 6 passengers")