.navbar
  .left
    .filler
    h1
      a(href="./index.html") Interactions Chart Homework
    .filler
  .center
    .filler
    .filler
  .right
    .filler
    ul
      li
        a(href="./chart0.html") Chart 1
      li
        a(href="./chart1.html") Chart 2
      li
        a(href="./chart2.html") Chart 3
      li
        a(href="./chart3.html") Chart 4
      li
        a(href="./chart4.html") Chart 5
    .filler
.wedge